
{#<div class="container-fluid mt-5 footer-logos">
    <div class="container">
        <img src="{{ theme.link }}/images/beere.png" class="float-right" width="250px">
        <img src="{{ theme.link }}/images/logo_2.png" class="float-left" width="250px">
    </div>
</div>{#}
    <div class="clearfix"></div>
<div class="container-fluid std-padding" id="footerBox">
    <div class="container">
        <div class="row">
           {{ footer_widgets }}
            <div class="col-12 text-center">
                <!-- <p>Copyright © Haubold Media</p> -->
            </div>
        </div>
    </div>
    
</div>