<div class="start sliderBox">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{{ theme.link }}/images/slider/bsp_1.jpg">
            </div>
            <div class="carousel-item">
                <img src="{{ theme.link }}/images/slider/bsp_2.jpg">
            </div>
            <div class="carousel-item">
                <img src="{{ theme.link }}/images/slider/bsp_3.jpg">
            </div>
        </div>

    </div>
</div>